@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/
#header {
    position: relative;
    z-index: 999;/* 상단 맨위 */
    /* background-color: lightblue; */
}
.header .partbox {
    height: 120px;
}
/* 1-1.로고박스 */
.header__logo img{
    margin-top: 40px;
    width: 126px;
}
/* 1-2-1. 탑메뉴 */
.top-menu ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content: flex-end;   
    padding: 14px 16px 7px 0;
}
/* 첫번째 빼고 li선택 */
.top-menu li+li{
    margin-left: 12px;
}
/* 탑메뉴 a */
.top-menu a{
    font-size: 1.3rem;
}

/* 1-2-2. GNB메뉴 */
.gnb ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content: flex-end;   
}
/* GNB메뉴 상위메뉴a */
.gnb ul>li>a{
    font-size: 1.6rem;
    display: block;
    padding: 28px 16px;
    /* 줄바꿈방지 */
    white-space: nowrap;
}
/* GNB 상위li 오버시 a */
.gnb ul>li:hover>a{
    color: red;
}
/* 4번째 li ~ 6번째 li 하위메뉴 표시하기 */
.gnb ul>li:nth-child(3)
~li:nth-child(-n+6)>a::after{
    content: '∨';
    display: inline-block;
    transform: scale(.5,.3);
    margin-left: 3px;
}

/* 서브메뉴 박스 */
.smenu {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;

    /* 메뉴 숨기기 */
    overflow: hidden;
    height: 0;

    /* 트랜지션 */
    transition: .4s ease-in-out;
}

/* 서브메뉴 속박스 */
aside.smbx {
    max-width: 1000px;
    margin: 0 auto;
    /* outline: 4px dashed green; */
}

.smbx h2 {
    font-size: 3.2rem;
}

.smbx ol {
    /* 플렉스박스 */
    display: flex;
    /* 랩핑박스 */
    flex-wrap: wrap;
    font-size: 1.6rem;
    line-height: 3;
    padding-bottom: 20px;
}
.smbx ol li{
    /* 가로크기 제한 - 한줄에 4개 */
    flex-basis: 25%;
    /* 글자말줄임 셋팅 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 모바일 햄버거 버튼 */
.ham {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #555;
    transform: scaleX(1.5);

    /* 처음에 숨기기 */
    display: none;
}
/* 햄버거모양 가상요소넣기 */
.ham::before{
    content: '≡';
}


/************ 2. 메인영역 ************/
#main {
    /* 본문영역 최소높이 셋팅! */
    min-height: 800px;
}
/************* 3. 하단영역 *************/
#footer {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 80px;
    background: url(../images/footer_bg_tvn-pc.png) no-repeat center/cover;
}

/* 하단링크박스 */
.info-link ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
}
.info-link a{
    font-size: 1.4rem;
    line-height: 2.5;
    white-space: nowrap;
}
/* 바로가기 콤보박스 영역 */
.combo-area{
    text-align: right;
}
.combo-area select{
    width: 170px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(230, 230, 230);
    font-size: 1.5rem;
    margin: 5px;
}
/* 하단로고박스 */
.footer__logo{
    padding: 20px 0;
}
/* 회사주소박스 */
.corp-info{
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.8;
}
/* SNS박스 */
.sns-box ul{
    display: flex;
    gap: 0 5px;
}
.sns-box li{
    width: 35px;
    height: 35px;
    /* 플렉스 강제줄이기 해제 */
    flex-shrink: 0;
    line-height: 38px;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 50%;
    border: 1px solid gray;
}
