@charset "utf-8";
/* 맨위에 utf-8 인코딩 표시 필수! */

/* CSS영역내 주석문 */

/* 웹폰트 CDN(Content Delevery Network) */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+And+White+Picture&family=Gugi&family=Noto+Sans+KR&display=swap");

/* 
    웹폰트 font-family 이름
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Gugi', cursive;
    font-family: 'Noto Sans KR', sans-serif;
*/

/* 
    @import url(주소)
    - 외부CSS를 불러올때 사용하는 형식
    - 외부CSS 파일을 하나로 합칠때 많이 사용함
*/

/* 
    [ 모든 요소 공통 디자인요소 : 박스모델 ]
    1. 크기 : width 가로, height 세로
    2. 경계선 : border 
    3. 내부여백 : padding
    4. 외부여백 : margin
    (여백공통방향:top,bottom,left,right)

    ______________________________

    [ CSS 속성셋팅 형식 ]
    선택자{
    속성:값;
    }

    [ CSS 선택자 ]
    1. 타입선택자 : 태그명 (div,p,a 등)
    2. 아이디선택자 : #아이디명
    3. 클래스선택자 : .클래스명
    4. 자손선택자 : 띄어쓰기 (div a)
    5. 직계자식선택자 : 오른쪽꺽쇠 (div > a)
    6. 종속선택자 : 요소명#아이디명 / 요소명.클래스명
    (div.mymy -> div인데 클래스가 mymy)
    7. 형제선택자 : 요소+요소 (a+a)
    -> 앞의 요소가 있는 형제요소를 선택
    8. 그룹선택자 : 선택자,선택자 (html,body,p)
    -> 여러요소를 동시에 선택함


*/

/* 요소의 초기화
            -기존에 기본셋팅값중 마진/패딩 초기화 */
html,
body,
h1,
h2, figure, blockquote {
    margin: 0;
    padding: 0;
}

/* 레이아웃 박스 공통 디자인 */
.bx {
    /* 크기 : w800 -> 가로크기 */
    /* width: 800px; */

    max-width: 1000px;/* maw */
    /* 최대가로크기 1000px의 의미는 1000px보다 안커지고
    작을 경우 auto로 전환함(부모박스 크기로 맞춤) */

    /* min-width: 700px; */
    /* 최소가로크기를 설정하면 최소크기보다 작아지지 않는다! */

    /* 외곽선 : bd -> 두께 종류 색상 */
    /* border: 4px double darkblue; */
    border: 3px dashed lightgreen;

    /* 패딩 */
    padding: 30px;
    /* 마진 : 마영오! 씨를 무대중앙으로 모시겠습니다! */
    margin: 0 auto;
    /* 양쪽마진을 auto 로 쓰면 등분할되어 
                    블록박스가 중앙위치함 */
    /* 
        [ 마진/패딩공통 개수별 정의 ]
        margin: 4방향;(1개)
        margin: 위아래 양쪽;(2개)
        margin: 위 양쪽 아래;(3개)
        margin: 위 오른 아래 왼;(4개-시계방향)
    */

    
    /* 둥근모서리 */
    border-radius: 15px;
}

/* 상단,하단만 중앙정렬 */
#top,#info{
    /* 텍스트 중앙 : tac */
    text-align: center;
}


/* 메인이미지 */
.cimg {
    width: 100%;
    /* w100p */
    /* 
        100%의 기준은 싸고 있는 블록박스의
        content영역을 말함!
        (보더/패딩 제외 내부영역)
    */
}

/* 1.상단영역 */
#top {
    background-color: #e8ffb8;
}
/* 타이틀 */
#top h1 {
    color: #5ec79a;
    font-size: 40px;
    font-weight: normal; /* fwn 글자두께 기본 */
    font-family: "Black And White Picture", "궁서";
    /* 
        font-family 글씨체
        값 - 콤마로 구분하여 우선순위 적용함
        (상위체가 없으면 하위체를 적용, 이도없으면
        브라우저 기본체로 표시)
    */
    /* 
        text-shadow : 글자그림자
        값 - x축 y축 블러(경계흐림) 색
        -> 콤마로 다중 그림자 사용가능!
    */
    text-shadow: 2px 2px 2px #0000008f;
}
/* 메뉴링크 */
#gnb a {
    color: hsl(118, 86%, 36%);
    text-decoration: none; /* tdn */
    font-size: 24px; /* fz */
    font-family: "Bagel Fat One", cursive; /* ff */
    vertical-align: -4px; /* va-4 */
    /* 
    vertical-align : 인라인요소간 세로정렬
    값 - top/bottom/middle/baseline/수치
    */
}
/* 가상클래스 :hover 마우스오버시 */
/* a+a 는 앞에 a요소가 있는 형제 a요소를 선택
            결과적으로 첫번째 a요소가 선택되지 않는다! */
#gnb a + a:hover {
    color: hotpink;
    /* 글자데코 : 윗줄 물결모양 */
    text-decoration: overline;
    text-decoration-style: wavy;
}
/* 로고이미지 */
#gnb img {
    vertical-align: -3px;
}

/* 2. 메인영역 */
#cont {
    margin: 20px auto;
}

/* 3. 하단영역 */
#info {
    background-color: #ccc;
}
/* 회사주소 */
#info address {
    /* 기본글자 이탤릭 스타일 없애기 */
    font-style: normal;
    font-family: "Bagel Fat One", sans-serif;
    color: darkcyan;
}
/* 대표자 span */
span.utxt {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: red;
}
/* 종속선택자로 같은 이름의 클래스인데
    다른 디자인으로 변경하여 셋팅하기 */
b.utxt {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: blue;
}
