@charset "utf-8";
/* 아카이브 메인 CSS - main.css */

/* 웹폰트 CDN(Content Delevery Network) */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+And+White+Picture&family=Gugi&family=Noto+Sans+KR&display=swap");

/* 
    웹폰트 font-family 이름
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Gugi', cursive;
    font-family: 'Noto Sans KR', sans-serif;
*/

/* 초기화 */
html,body,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

/* 공통 클래스 */
.page{
    height: 100%;
    overflow: hidden;
}

/* 전체배경이미지 */
body{
    background: url(../imgs/worksbg.jpg) no-repeat fixed center/cover;
    /* 전체 글자체 */
    font-family: 'Noto Sans KR', sans-serif;
    /* 전체 글자기본크기 */
    font-size: 17px;
}

/* 전체박스 */
.wrap{
    background-color: 
    rgba(255, 255, 255, 0.514);
    width: 80%;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

/* 메인타이틀 */
.tit{
    text-align: center;
    font-family: 'Black And White Picture', sans-serif;
    font-weight: normal;
    font-size: 45px;
    color: darkblue;
}
