@charset "utf-8";
/* 어벤저스 CSS - avengers.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap");

/* 
    font-family: 'Monoton', cursive;
    font-family: 'Single Day', cursive;
*/

/* 파일 합치기 */
@import url(./reset.css);

/* 전체 배경넣기 
- 가상요소로 배경고정을 대신함
- 이유: ios에서 배경 fixed 미지원 */
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(../ab_img/space.jpg) no-repeat center/cover;
}
html{
    /* rem단위를 위한 root 글자설정! */
    font-size: 10px;
}
body{
    color: #fff;
}
/* 공사중 */
/* body *{
    outline: 2px dashed yellow;
} */


/*********** 공통 클래스 ***********/
/* 페이지 클래스 */
.page{
    position: relative;
    /* 부모자격 */
    height: 100vh;
}
.tit{
    text-align: center;
    font-size: 4rem;
}

/********** 개별요소 디자인 **********/
.avengers-box{
    position: absolute;
    /* 부모는? .page */
    top: calc(50% - 400px/2);
    left: calc(50% - 300px/2);
    /* 부모박스 정중앙 */
    width: 300px;
    height: 400px;

    border-radius: 50%;
    box-shadow: 
    /* 바깥글로우 */
    0 0 50px 10px cyan,
    /* 내부글로우 */
    inset 0 0 30px lightgreen;

    background: url(../ab_img/ab0.jpg) no-repeat center/cover;
}

/* 캐릭터 공통 */
.hero{
    position: absolute;
    top: calc(50% - 150px/2);
    left: calc(50% - 150px/2);
    /* 부모는? .avengers-box 정중앙! */    

    width: 150px;
    height: 150px;

}
/* 어벤저스 이미지 */
.hero img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 
        [ object-fit 속성 ]
        -> 이미지나 동영상을 박스에 맞출때
        옵션을 설정해 주는 속성
        1. fill : 설정값에 강제적용(기본값)
        2. contain : 박스에 모두 보임
        3. cover : 박스를 비율에 맞게 채움
            -> 빈틈없이 채우며 배경cover와
            유사한 효과를 준다! 
    */
    border-radius: 50%;
    /* 박스 글로우 */
    box-shadow: 0 0 20px 10px lightgreen;
}

/* 어벤저스 설명박스 */
.txt {
    position: absolute;
    top: 50%;
    transform: translateY(25%);
    /* translateY(-50%); */
    right: 110%;
    width: 320px;
    font-size: 1.4rem;
    line-height: 1.6;
    background-color: rgb(255 255 255 / 46%);
    border-radius: 15px;
    text-shadow: 1px 1px 1px #000;

    /* 숨기기 설정 */
    height: 0;
    overflow: hidden;

    /* 트랜지션 */
    transition: .4s ease-in-out;
}

/* 상위박스 .hero오버시 설명 보이기 */
.hero:hover .txt{
    height: 220px;
    transform: translateY(-50%);
}

/* 패딩과 보더는 하위박스에 주고 완전히 숨기기 */
.txt>div{
    padding: 2rem;
}


/* 설명박스 위치 오른쪽 클래스 */
.txt.right{
    right: auto;
    left: 110%;
}

/* 캐릭터 타이틀 */
.txt h3{
    font-size: 2.5rem;
    text-align: center;
    color: cyan;
}

/* .hero 순서별 위치값셋팅 */
.hero:nth-child(1){
    /* 개별위치이동값 */
    transform: translate(-170%,-110%);
}
.hero:nth-child(2){
    /* 개별위치이동값 */
    transform: translate(-170%,110%);
}
.hero:nth-child(3){
    /* 개별위치이동값 */
    transform: translate(0%,220%);
}
.hero:nth-child(4){
    /* 개별위치이동값 */
    transform: translate(170%,110%);
}
.hero:nth-child(5){
    /* 개별위치이동값 */
    transform: translate(170%,-110%);
}

