@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
body * {
    outline: 1px dashed ghostwhite;
}

/* 전체배경색 */
body{
    background-color: #000;
}

/**************** 1.상단영역 ****************/
.header{
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 로고 */
.tit{
    color: aquamarine;
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    text-align: center;
    line-height: 80px;
    /* 글자 글로우효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 */
    animation: tit-ani .5s ease-in infinite alternate;

}
/* 타이틀 애니 키프레임 */
@keyframes tit-ani {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
}

/**************** 2.메인영역 ****************/
.main{
    position: relative;
    /* 부모자격 */
    height: 788px;
    background: url(../images/bg.jpg) no-repeat center;
}
/* 2-1.스크린 */
.screen{
    position: absolute;
    top: 137px;
    left: 258px;
    width: 698px;
    height: 395px;
    background-color: #000;
}
/* 아이프레임 */
.screen iframe{
    width: 100%;
    height: 100%;
    border: none;
}
/* 2-2. 포스터메뉴 */
.poster-menu{
    position: absolute;
    width: 700px;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
.poster-menu ul{
    /* 플렉스박스 */
    display: flex;
    /* 가로사이간격 */
    gap: 0 10px;
}
.poster-menu>ul>li{
    position: relative;
    /* 부모자격 */

    /* 앱솔루트 영화정보 
    부모자격요소가 숨길 수 있다! */
    overflow: hidden;

    /* 등분할 */
    flex: 1;

}
.poster-menu img{
    /* li에 이미지 가로채움! */
    width: 100%;
}
/* 영화정보박스 */
.mv-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;/* 아랫쪽 바깥에 위치 */
    /* 부모는? 싸고있는 li */
    text-align: center;
    background-color: rgb(0 0 0 / 49%);

    /* 글자셋팅 */
    font-family: 'Cute Font', cursive;
    font-size: 14px;
    /* 줄바꿈방지 */
    white-space: nowrap;

    /* 트랜지션 */
    transition: top .3s ease-out;
}
/* 영화정보박스 제목만 변경 */
.mv-info li:first-child {
    font-size: 17px;
    color: aqua;
}
/* 상위 li에 오버시 영화정보박스 보이기 */
.poster-menu>ul>li:hover .mv-info{
    top: 0;
}
.mv-info ol{
    display: flex;
    gap: 7% 0;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
/**************** 3.하단영역 ****************/
.footer{
    height: 100px;
}
