@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
body * {
    outline: 1px dashed ghostwhite;
}

/* 전체배경색 */
body{
    background-color: #000;
}

/**************** 1.상단영역 ****************/
.header{
    position: relative;
    /* 부모자격 - .gnb */
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;

    /* 상단영역박스 가장위! */
    z-index: 999;
}
/* 1-1.로고 */
.tit{
    color: aquamarine;
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    text-align: center;
    line-height: 80px;
    /* 글자 글로우효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 */
    animation: tit-ani .5s ease-in infinite alternate;

}
/* 타이틀 애니 키프레임 */
@keyframes tit-ani {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
}
/* 2-2.GNB */
.gnb{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.gnb ul{
    /* 플렉스박스 */
    display: flex;
    /* 사이간격 */
    gap: 0 20px;
    font-family: 'Jua';

    /* 영사기박스 보다 위 */
    position: relative;
    z-index: 1;
}
/* 상위메뉴 li */
.gnb ul>li{
    position: relative;
    /* 부모자격: .smenu */
}
/* 상위메뉴 a */
.gnb ul>li>a{
    display: inline-block;
    /* a는 원래 inline인데 트랜스폼이 적용안됨!
    따라서 inline-block로 변경해야 적용됨! */
    font-size: 2rem;
    padding-bottom: 10px;
    /* 패딩으로 젠틀앱솔루트인 .smenu를 아랫쪽으로
    밀려서 이동되게함! li에 연결상태유지! */
    /* 트랜지션 */
    transition: .3s;
}
/* 상위메뉴 li오버시 a */
.gnb ul>li:hover>a{
    color: aquamarine;
    /* 글자확대 */
    transform: scale(1.3);
    /* 글자 글로우효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 */
    animation: tit-ani .5s ease-in infinite alternate;
}

/* GNB 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    /* x축방향 중앙이동 */
    transform: translateX(-50%);
    width: 140px;
    padding: 3px;
    border-radius: 5px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;

    /* 필터를 이용한 그림자로 글로우효과주기
    -> box-shadow를 사용하면 본 박스에만 효과가 적용되고
    가상요소 삼각형에는 적용안됨. 필터는 내부 구성요소
    모두의 외곽선에 그림자효과를 적용함!  */
    filter: drop-shadow(0 0 5px #fff);

    /* 처음에 숨기기 */
    display: none;
}
/* 상위메뉴 li에 오버시 서브메뉴 보이기 */
.gnb ul>li:hover .smenu{
    display: block;
}
/* 서브메뉴 가상요소로 삼각형 만들기 */
.smenu::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 15px;
    background-color: #373737;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;
}
/* 서브메뉴 a */
.smenu a{
    font-size: 1.6rem;
    line-height: 1.7;
}
/* 서브메뉴 li오버시 a */
.smenu li:hover a{
    color: orangered;
}
/* 서브메뉴 li오버시 a가상요소로 이미지넣기! */
.smenu li:hover a::after{
    content: '🎪';
    float: right;
}
/* 서브메뉴 li별 이미지변경하기 */
.gnb ul>li:nth-child(2) .smenu li:hover  a::after{
    content: '🎃';
}
/* 서브메뉴 li별 이미지변경하기 */
.gnb ul>li:nth-child(3) .smenu li:hover  a::after{
    content: '✨';
}
/* 서브메뉴 li별 이미지변경하기 */
.gnb ul>li:nth-child(4) .smenu li:hover  a::after{
    content: '📣';
}

/* 개별 구분 보더 넣기 클래스 */
.bd-top{
    border-top: 1px solid #ccc;
}

/* 영사기 박스 */
.cam{
    position: absolute;
    /* 부모는? .gnb */
    top: -12px;
    right: -70px;
}
/* 영사기 이미지 */
.cam>img{
    position: relative;
    z-index: 1;
    width: 50px;
    transform: rotate(30deg);
    /* 트랜지션 : 돌아올때 빔회수시간 기다림 */
    transition: .3s .2s;
}
/* .gnb에 오버시 영상기 돌기 */
.gnb:hover .cam>img{
    transform: rotate(0);
    /* 트랜지션 딜레이 없음 */
    transition-delay: 0s;
}
/* 빔박스 */
.beam{
    position: absolute;
    top: -16px;
    right: 9px;
    width: 0;
    height: 70px;
    background: url(../images/bim.png) no-repeat right/auto 100%;  
    /* 트랜지션 : 먼저 빔회수하기 */
    transition: width .2s linear;

}
/* .gnb오버시 빔박스 빔쏘기 */
.gnb:hover .beam{
    width: 200px;
    /* 트랜지션 : 영사기 도는 0.3초 기다림 */
    transition-delay: .3s;
    /* 빔떨림애니 호출 */
    animation: beam-ani .01s linear infinite alternate;
}

/* 빔떨림애니 키프레임 */
@keyframes beam-ani {
    to{
        opacity: 0.5;
    }
}




/**************** 2.메인영역 ****************/
.main{
    position: relative;
    /* 부모자격 */
    /* height: 788px; */
    /* 비율박스는 높이값을 주지 않는다! */
    aspect-ratio: 1200/788;
    background: url(../images/bg.jpg) no-repeat 0/100%;
}
/* 2-1.스크린 */
.screen{
    position: absolute;
    top: 17.2%;
    left: 21.4%;
    width: 58.5%;
    height: 50.5%;
    /* 비율박스 부모기준 크기값,위치값% 설정 */
    background-color: #000;
}
/* 아이프레임 */
.screen iframe{
    width: 100%;
    height: 100%;
    border: none;
}
/* 2-2. 포스터메뉴 */
.poster-menu{
    position: absolute;
    width: 60%;
    /* 비율박스 부모기준 가로크기%설정 */
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
.poster-menu ul{
    /* 플렉스박스 */
    display: flex;
    /* 가로사이간격 */
    gap: 0 10px;
    /* 원근설정 */
    perspective: 50vh;
}
.poster-menu>ul>li{
    position: relative;
    /* 부모자격 */
    
    /* 앱솔루트 영화정보 
    부모자격요소가 숨길 수 있다! */
    overflow: hidden;
    
    /* 등분할 */
    flex: 1;
    
    /* X축 회전 */
    transform: rotateX(30deg);
    /* 회전축 하단으로 변경 */
    transform-origin: bottom;
    /* 트랜지션 */
    transition: .3s;
    
}
/* 포스터메뉴 각 li에 오버시 + 클래스on적용시 */
.poster-menu>ul>li:hover,
.poster-menu>ul>li.on{
    transform: rotateX(0);
    outline: 1px solid aqua;

    /* 일어서는 li가 항상위! */
    z-index: 1;
}

.poster-menu img{
    /* li에 이미지 가로채움! */
    width: 100%;
}
/* 영화정보박스 */
.mv-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;/* 아랫쪽 바깥에 위치 */
    /* 부모는? 싸고있는 li */
    text-align: center;
    background-color: rgb(0 0 0 / 49%);

    /* 글자셋팅 */
    font-family: 'Cute Font', cursive;
    font-size: min(1.3vw,14px);
    /* 줄바꿈방지 */
    white-space: nowrap;

    /* 트랜지션 */
    transition: top .3s ease-out;
}
/* 영화정보박스 제목만 변경 */
.mv-info li:first-child {
    font-size: min(1.5vw,17px);
    color: aqua;
}
/* 상위 li에 오버시 영화정보박스 보이기 */
.poster-menu>ul>li:hover .mv-info{
    top: 0;
}
.mv-info ol{
    display: flex;
    gap: 7% 0;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
/**************** 3.하단영역 ****************/
.footer{
    height: 100px;
}
