@charset "utf-8";
/* CGV PJ 미디어쿼리 CSS - media.css */

/************* 1370px 이하 사이즈 시작 *************/
@media screen and (max-width: 1370px) {
  /* GNB메뉴 */
  .gnb {
    right: 80px;
  }
}
/************* 1330px 이하 사이즈 종료 *************/

/************* 1050px 이하 사이즈 시작 *************/
@media screen and (max-width: 1050px) {
  /* 2-2.GNB */
  .gnb {
    bottom: -90px;
    height: 140px;
    /* 하위ul 안보일때도 위치유지하기 위해 */
  }
  .gnb ul {
    top: 53px;
    left: 59px;
    flex-direction: column;
    align-items: flex-end;
    /* 처음에 안보임 */
    display: none;
  }
  /* .gnb오버시 ul보이기 */
  .gnb:hover ul {
    display: flex;
  }
  /* 상위메뉴 오버시 하위메뉴 보이기없앰 */
  .gnb ul > li:hover .smenu {
    display: none;
  }
  /* 영사기 박스 */
  .cam {
    padding-bottom: 20px;
    /* gnb ul과 연결! */
  }
}
/************* 1050px 이하 사이즈 종료 *************/

/************* 800px 이하 사이즈 시작 *************/
@media screen and (max-width: 800px) {
    /* 타이틀 */
    .tit{
        font-size: 8vw;
    }
  /**************** 2.메인영역 ****************/
  .main {
    aspect-ratio: 1/1.3;
    background-position: center -22%;
    background-size: 140%;
  }
  /* 2-1.스크린 */
  .screen {
    top: 5.7%;
    left: 9.9%;
    width: 81.9%;
    height: 35.8%;
  }
  /* 2-2. 포스터메뉴 */
  .poster-menu {
    width: 70%;
  }
  .poster-menu ul {
    flex-wrap: wrap;
  }
  .poster-menu > ul > li {
    flex-basis: calc(100% / 3 - 10px * 2);
  }

  /* 하단영역 */
  .footer {
    height: auto;
    flex-direction: column;
    gap: 15px;
  }
  /* 회사정보박스 */
  .co-info address{
    text-align: center;
  }
  /* SNS박스 */
  .sns-box {
    margin-left: 0;
  }
}
/************* 800px 이하 사이즈 종료 *************/
