
// 메인 이미지 맵핑 정보
$mainBgImage : (
    bg1:"cont1a.jpg",
    bg2:"cont2-1.jpg",
    bg3:"cont2-2.jpeg",
    bg4:"cont2-3.jpg",
    bg5:"cont3a.jpg",
    bg6:"cont4-1.jpg",
    bg7:"cont4-2.jpg",
    :"",
    :"",
    :"",
    :"",
    :"",
    :"",
    :"",
    :"",
    );