@charset "utf-8";

/* 큐브 애니메이션 CSS - cube.css */
html,body{
    margin: 0;
    padding: 0;
}
body{
    background-image: 
    linear-gradient(to bottom, #a1f4e0, #ef95fb);
    height: 100vh;
}

/* CSS 변수셋팅 */
:root{
    /* 큐브 공통크기 */
    --cube-size: 300px;
}

/* 큐브 */
.cube{
    position: absolute;
    top: calc(50% - var(--cube-size)/2);
    left: calc(50% - var(--cube-size)/2);
    width: var(--cube-size);
    height: var(--cube-size);

    /* 
        [ 입체로 설정하기 ]
        - 입체로 설정할 요소의 부모박스에
        아래와 같이 설정해준다!
        (부모는 싸고 있는 요소)
        transform-style: preserve-3d
        - 기본값은 flat : 2D
        - preserve-3d : 3D
    */
    transform-style: preserve-3d;

    /* 입체를 잘보이게 하기위해 약간 회전함 */
    transform: rotateX(10deg) rotateY(30deg);

    outline: 2px solid red;
}

/* 큐브 각면 공통 */
.cube span{
    position: absolute;
    /* 앱솔루트는 자동 block! */
    width: 100%;
    height: 100%;

    /* 투명도 */
    opacity: 0.8;
    outline: 1px solid gray;
}

/* 1. 앞면 */
.cube span:nth-child(1){
    background: url(../images/seoulCity.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: 
    translateZ(calc(var(--cube-size)/2));
}
/* 2. 오른쪽면 */
.cube span:nth-child(2){
    background: url(../images/newyorkCity.jpg) no-repeat right/auto 105%;

    /* y축회전 + 화면방향이동 : z축 */
    transform: rotateY(90deg)
    translateZ(calc(var(--cube-size)/2));
}
/* 3. 뒷면 */
.cube span:nth-child(3){
    background: url(../images/parisCity.jpg) no-repeat center/cover;

    /* y축회전 + 화면방향이동 : z축 */
    transform: rotateY(180deg)
    translateZ(calc(var(--cube-size)/2));
}
/* 4. 왼쪽면 */
.cube span:nth-child(4){
    background: url(../images/cityMain.jpg) no-repeat center/cover;

    /* y축회전 + 화면방향이동 : z축 */
    transform: rotateY(-90deg)
    translateZ(calc(var(--cube-size)/2));
}
/* 5. 윗면 */
.cube span:nth-child(5){
    background: url(../images/citys.jpg) no-repeat center/cover;

    /* x축회전 + 화면방향이동 : z축 */
    transform: rotateX(90deg)
    translateZ(calc(var(--cube-size)/2));
}
/* 6. 아랫면 */
.cube span:nth-child(6){
    background: url(../images/London_city.jpg) no-repeat center/cover;

    /* x축회전 + 화면방향이동 : z축 */
    transform: rotateX(-90deg)
    translateZ(calc(var(--cube-size)/2));
}

/* 큐브회전 클래스 */
.rotate-cube{
    /* 애니메이션 */
    animation: cube-ani 4s linear infinite;
}

/* 큐브회전 키프레임 */
@keyframes cube-ani {
    to{
        transform: rotateX(370deg) rotateY(-330deg);
        
        /* 
            x축 양의 방향으로 10도에서 출발
            양의 방향 360도+10도=370도
            음의 방향 -360도+10도=-350도
            ____________________________

            y축 양의 방향으로 30도에서 출발
            양의 방향 360도+30도=390도
            음의 방향 -360도+30도=-330도
        */
    }
}
