@charset "utf-8";

/* 태양계 2D 애니 - solar2d.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');

/************************************************* 
    [ CSS에서 변수사용하기 ]

    [ 변수설정하기 ] 
        :root{
            --변수명1: 값1;
            --변수명2: 값2;
        }
        
    [ 변수호출사용 ]
        var(--변수명)

    [ 변수는 언제 사용하나? ]
        ->>> 값은 값이 여러부분에서 사용될때
        ->>> 미디어쿼리 등에서 변경이 필요한 경우
        변수값만 변경하면 복잡한 값 변경이 불필요하게됨!

*************************************************/
:root{
    /* 태양크기 */
    --sun-size: 250px;
    /* 지구크기 */
    --earth-size: 80px;
    /* 달크기 */
    --moon-size: 40px;
    /* 목성크기 */
    --jupiter-size: 150px;
    /* 토성크기 */
    --saturn-size: 160px;
    /* 명왕성크기 */
    --pluto-size: 50px;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body{
    background: url(../images/space.jpg) no-repeat center/cover;
    overflow: hidden;
    /* 스크롤바없앰 */
}
/* 공통클래스 */

/* 배경이미지설명숨기기 */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 공사중 표시 */
/* body *{
    outline: 1px dashed lightblue;
} */


/* 타이틀 */
.tit {
    position: relative;
    z-index: 1;
    /* 행성들보다 위 */

    margin: 0;
    padding: 0;
    /* h1의 기본마진,패딩 없앰 */
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: #fff;
    font-size: 80px;
    text-align: center;
    padding-top: 20px;
}

/* 태양계박스 */
#solar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 박스 정중앙이동 */
    
    width: var(--sun-size);
    height: var(--sun-size);
}
/* 태양박스 */
#sun{
    position: absolute;

}
/* 태양이미지 */
#sun img{
}
/* 태양이 이글거리는 애니메이션 키프레임 */
@keyframes flame {
    to{
        
    }
} /* 키프레임 */




/* 지구 */
#earth{
    position: absolute;
    
}

/* 지구회전 키프레임 */
@keyframes earth {
    from{
        
    }
    to{
        
    }
} /* 지구회전 키프레임 */

/* 달 */
#moon{
    position: absolute;
}

/* 달회전 키프레임 */
@keyframes moon {
    from{
        
    }
    to{
        
    }
} /* 달회전 키프레임 */

/* 목성 */
#jupiter{
    position: absolute;
    
}

/* 목성회전 키프레임 */
@keyframes jupiter {
    from{
        
    }
    to{
        
    }
} /* 목성회전 키프레임 */

/* 토성 */
#saturn{
    position: absolute;
    
}
/* 가상요소로 토성이미지 배경으로 넣기 */


/* 토성회전 키프레임 */
@keyframes saturn {
    from{
        
    }
    to{
        
    }
} /* 토성회전 키프레임 */

/* 명왕성 */
#pluto{
    position: absolute;
}

/* 명왕성회전 키프레임 */
@keyframes pluto {
    from{
        
    }
    to{
        
    }
} /* 명왕성회전 키프레임 */