@charset "utf-8";

/* 네비게이션 유형3 CSS - nav03.css */

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR&display=swap");

/* 
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Noto Sans KR', sans-serif; 
*/

/* 초기화 */
html,
body,
h1,
dl,
dt,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background: url(../images/nav03/main_intro_banner_1_ksr.jpg) no-repeat
    center/cover;
}
/* 공통 */
a {
  color: #fff;
  text-decoration: none;
}

/* 공통 적용 */
/* 숨기기 */
.blind img:last-child{
    display: none;
}

/* 전체 타이틀 */
.tit {
  position: fixed;
  top: 40vh;
  left: 5vw;
  font-size: 7vh;
  color: #fff;
}


/* 상단영역 */
.top{
    display: flex;
}
/* 로고 */
.logo img{
    height: 50px;
}
.logo img:last-child{
    display: none;
}
/* 네비게이션 박스 */
.gnb{
    display: flex;
}
.gnb dl:first-child dt img:last-child{
    display: none;
}
/* 기타파트 */
.tlink{
    display: flex;
}
