@charset "utf-8";

/* 네비게이션 유형3 CSS - nav03.css */

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR&display=swap");

/* 
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Noto Sans KR', sans-serif; 
*/

/* 초기화 */
html,
body,
h1,
dl,
dt,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}
ul{
    list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  background: url(../images/nav03/main_intro_banner_1_ksr.jpg) no-repeat
    center/cover;
}
/* 공통 */
a {
  color: #fff;
  text-decoration: none;
}

/* 공통 적용 */
/* 중앙속박스 */
.inbox{
    max-width: 1600px;
    margin: 0 auto;
}
/* 이미지 숨기기 클래스 */
.blind img:last-child{
    display: none;
}
/* #top에 오버시 마지막 이미지보이기 */
#top:hover .blind img:last-child{
    display: inline;
}
/* #top에 오버시 첫번째 이미지숨기기 */
#top:hover .blind img:first-child{
    display: none;
}

/* 전체 타이틀 */
.tit {
  position: fixed;
  top: 40vh;
  left: 5vw;
  font-size: 7vh;
  color: #fff;
}


/* 상단영역 */
/* 겉박스 */
#top{
    position: fixed;
    top: 0;
    width: 100%;
    /* 전체 숨기기설정 */
    overflow: hidden;
    height: 100px;

    /* 트랜지션 */
    transition: .4s ease-in-out;
}
/* 가상요소로 구분선 오버시 나오게 하기 */
#top:hover::after{
    content: '';
    position: absolute;
    top: 100px;
    width: 100%;
    height: 1px;
    background-color: gray;
}
/* 속박스 */
.top{
    /* 플렉스박스 - 상단영역 큰 레이아웃 3개 */
    display: flex;
    /* 진행방향 정렬 : 사이간격 일정하게 */
    justify-content: space-between;
    /* 상단영역 글자체 */
    font-family: 'Maven Pro','Noto Sans KR', sans-serif;

    
}
/* .top에 마우스 오버시 높이값 늘어나기 */
#top:hover{
    height: 400px;
    background-color: #fff;
}
/* .top에 마우스 오버시 글자색 */
#top:hover a{
    color: #222;
}
/* 로고 */
.logo img{    
    margin-top: 25px;
    height: 50px;
}
/* .logo img:last-child{
    display: none;
} */

/* 네비게이션 박스 */
.nav-part{
    width: 70%;
}
.gnb{
    display: flex;
    justify-content: center;
    gap: 0 2vw;
}
/* 각 메뉴박스 : dl */
.gnb dl{
    text-align: center;
}
/* 첫번째 이미지 메뉴(STORY) 위치조정 */
.gnb dl:first-child dt img{
    transform: translateY(22px);
}

/* 상위메뉴 : dt */
.gnb dt {
    line-height: 110px;
    font-size: 17px;
}
/* a요소 오버시 */
#top .gnb dl:hover dt a,
#top .gnb dd:hover a {
    color: red;
}
/* 하위메뉴 : dd */
.gnb dd {
    font-size: 15px;
    line-height: 3;
}


/* .gnb dl:first-child dt img:last-child{
    display: none;
} */

/* 기타파트 */
.tlink{
    display: flex;
    gap: 0 1.5vw;
    padding-top: 35px;
}
/* 기타파트 이미지 */
.tlink img{
    height: 30px;
}

/* 기타파트 가상요소로 글자넣기 */
.lang a::after{
    content: 'KOR';
    position: absolute;
    margin-top: 15px;
    margin-left: -10px;
    font-size: 12px;
}
/* 기타파트 가상요소로 글자넣기 */
.store a::after{
    content: 'STORE';
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
    font-size: 12px;
}
