/* 자동차 광고 애니 CSS */

html,body{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    height: 100vh;
}
/* 자동차박스 */
#mycar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1359px;
    width: 100%;
}

/* 자동차 시동 클래스 */
#mycar.anion{
    animation: 
    brr-car .03s infinite alternate,
    go-car 3s ease-in 3s forwards;
}

/* 자동차 시동 키프레임 */
@keyframes brr-car {
    to{
        transform: translate(-50%, -49.5%);
    }
}
/* 자동차 이동 키프레임 */
@keyframes go-car {
    to{
        left: -50%;
    }
}

/* 자동차이미지 */
#mycar img{
    width: 100%;
    opacity: 0;
}
/* 자동차 나타나기 클래스 */
#mycar.anion img {
    opacity: 1;
    transition: 3s;
}

/* 자동차 선 SVG */
.spath{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* path 설정 */
.spath path{
    fill: none;
    stroke: #000;
    stroke-width: 7;
    /* 선끝 둥글게 */
    stroke-linecap: round;
    /* 데쉬설정 */
    stroke-dasharray: 240%;
    stroke-dashoffset: 240%;
}
/* 애니클래스 설정 */
.spath.anion path{
    animation: 
    line-ani 10s linear forwards,
    fade-ani 3s linear 10s forwards;
}

/* 자동차 선애니 */
@keyframes line-ani {
    to{
        stroke-dashoffset: 0;
    }
}
/* 자동차 선 사라짐애니 */
@keyframes fade-ani {
    to{
        opacity: 0;
    }
}


/* 바퀴공통 */
.ba{
    position: absolute;
    width: 9.8%;
    aspect-ratio: 1/1;
    /* height: 133px; */
    /* outline: 3px solid red; */
    background: url(../images/car.jpg) no-repeat;
    background-size: 1020%;
    background-position: 20.3% 64%;
    border-radius: 50%;
    /* 처음에 투명 */
    opacity: 0;
}
/* 앞바퀴 */
.fw{
    bottom: 30.3%;
    left: 18.2%;
}
/* 앞바퀴 */
.bw{
    bottom: 30.8%;
    right: 20.1%;
}
/* 바퀴회전 클래스 */
#mycar.anion .ba{
    animation: rotate-ba 2s linear 3s infinite;
    opacity: 1;
    transition: opacity 3s;
}

/* 바퀴회전 키프레임 */
@keyframes rotate-ba {
    to{
        transform: rotate(-360deg);
    }
}